body {
    margin: 0;
    padding: 0;
    display: flex;
    
}
p::selection {
    background-color: rgb(0, 0, 0);
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 1;
    height: 100vh;
    width: 300px;
}

.box::-moz-selection {
    color: red;
    background: yellow;
}

.box::selection {
    color: red; 
    background: yellow;
}
.box {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 1620px;
    order: 2;
    
}
.titre, .histo {
    border: 5px solid black;
    border-radius: 20px;
}

.titre:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

header {
    font-family:  'Kalinga', Arial,'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-size: 38px;
    background-image: url("img/header.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    order: 1;
    background-color: rgb(243, 228, 17);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 20vh;
    
}

.oui {
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    width: 100%;
    height: 70vh;
}
strong::selection {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 251, 10);
}

                                      /* Style du footer */
footer {
    text-align: center;
}

.pied {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dimgray;
    color: white; 
    width: 100%;
    height: 10vh;
    order: 3;
}
.pied::selection {
    background-color: rgb(243, 228, 17);
    color: rgb(0, 0, 0);
}


                                      /* Style de tout les lien sur la page */
a:link {
    color: rgb(255, 255, 255); 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
a::selection {
    color: white;
    background-color: black;
}