#tableau {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#tableau th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background-image: linear-gradient(gold, goldenrod);
    border-top: 2px solid black;
    border-bottom: 1px solid #fff;
}
#tableau td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid rgb(0, 0, 0);
}
#tableau tfoot tr td {
    font-size: 16px;
    text-align:center;
}
#tableau tbody tr:hover td {
    background-image: linear-gradient(gold,goldenrod);
}
#tableau a:hover {
    text-decoration:underline;
}
tr {
    border-top: 3px solid black;
}